/************** MEDAIA QUERY *********/

@media screen and (max-width:1024px) {
    .about_achievements {
        margin-top: 2rem;
    }

    .about_achievements-container {
        grid-template-columns: 1fr;
        gap: 4rem
    }

    .about_achievements-left {
        width: 80;
        margin: 0 auto;
    }

    .team_container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .team_member {
        padding: 1rem;
    }
}

@media screen and (max-width:600px) {
    .achievements_cards {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team_container {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .team_member {
        padding: 0;
    }

    .team_member p {
        margin-bottom: 1.5rem;
    }
}