/******************** COURSES *****************/

.courses {
    margin-top: 10rem;
}

.courses_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.course {
    background: var(--color-bg1);
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.course:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.course_info {
    padding: 2rem;
}

.course_info a {
    margin: 1.2rem;
    font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {

        /************ COURSES *******/
        
            .course {
                margin-top: 0;
            }
        
            .courses_container {
                grid-template-columns: 1fr 1fr;
        
            }

}


/************* MEDIA QUERIS FOR PHONE *****************/

@media screen and (max-width:600px) {

    /***********************COURSE *********/
        .courses_container {
            grid-template-columns: 1fr;
        }
}